.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

/* afecta solo a los hijos, no a nietos */
.filter > div {
    display: flex;
    gap: 1rem;
}

.filter span {
    font-weight: 400;
}